
.icon-mail:before { content: '\e800'; } /* '' */
.icon-fb:before { content: '\f09a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-ig:before { content: '\f16d'; } /* '' */
.icon-map:before { content: '\f278'; } /* '' */